* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.icoo {
    font-size: 18px !important;
}

 .el-table td.el-table__cell>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.centerRow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.centerRow div:nth-child(1) {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.centerRow div:nth-child(2) {
    margin: 10px 0;
}